.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.25fr 1.5fr 1.75fr 0.25fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Navigation Navigation Navigation"
    "LeftSidebar TopBody RightSidebar"
    "LeftSidebar LowerBody RightSidebar"
    "Footer Footer Footer";
}

.Navigation {
  grid-area: Navigation;
  background-color: red;
}

.RightSidebar {
  grid-area: RightSidebar;
  background-color: yellow;
}

.LeftSidebar {
  grid-area: LeftSidebar;
  background-color: red;
  height: 100%;
}

.TopBody {
  grid-area: TopBody;
  background-color: gray;
}

.LowerBody {
  grid-area: LowerBody;
  background-color: green;
}

.Footer {
  grid-area: Footer;
}
